.chat-block
  .chat-block__titling
    h2 Latest reviews
    a.link(href="#") All reviews
    +social-reactions
  .chat-items.chat-items--js
    - name = "Samuel Jackson"
    - date = "13 Apr 2022"
    - text = "Hey Eva! You're cool. Nice pic!"
    +chat-item
    - name = "Angela Deimon"
    - date = "10 Apr 2022"
    - text = "Thanks for your services! We really liked the ocean view room. We hope to cooperate in the near future. We are sure you will do everything to make our next holiday fantastic."
    +chat-item
    - name = "Ronald Harris"
    - date = "8 Apr 2022"
    - text = "Eva, hello! There is such a question: How can I contact you if I am abroad in roaming?"
    +chat-item
