extends page.pug

block head
  - var PageTitle = 'Fronted test'
  - var bodyClass = 'main'

block content
  section.section-box
    .container
      - userImg = 'images/user_avartar.jpg'
      - userName = 'Eva Jonson'
      - userPosition = 'Sales Manager'
      - userDescription = '<p>I will find the best offers for you.</p><p>My services are absolutely free.</p>'
      include user-header
      include chat-block

    include add-message

block script
  script(src="index.js")
