mixin like()
  <svg width="12"  viewBox="0 0 12 12"><g filter="url(#a)" fill-rule="evenodd" clip-rule="evenodd"><path d="m5.994 10.714.036.032v-.065c.674-.628 5.98-5.63 5.959-7.698C11.965.776 10.562-.023 8.965 0 7.453.023 6.13 1.33 5.995 1.468 5.856 1.328 4.534.023 3.023 0 1.427-.023.024.776 0 2.983c-.022 2.067 5.285 7.07 5.96 7.698v.065l.034-.032Z" fill="#333"/><path d="m5.994 10.714.036.032v-.065c.674-.628 5.98-5.63 5.959-7.698C11.965.776 10.562-.023 8.965 0 7.453.023 6.13 1.33 5.995 1.468 5.856 1.328 4.534.023 3.023 0 1.427-.023.024.776 0 2.983c-.022 2.067 5.285 7.07 5.96 7.698v.065l.034-.032Z" fill="#73B4D5"/></g><defs><filter id="a" x="0" y="0" width="11.989" height="11.746" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="1"/><feColorMatrix values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.9 0"/><feBlend in2="BackgroundImageFix" result="effect1_dropShadow_9068_33"/><feBlend in="SourceGraphic" in2="effect1_dropShadow_9068_33" result="shape"/><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="-1"/><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/><feBlend in2="shape" result="effect2_innerShadow_9068_33"/></filter></defs></svg>

mixin comment()
  <svg width="13" viewBox="0 0 13 14"><g filter="url(#a)" fill-rule="evenodd" clip-rule="evenodd"><path d="M12-.001H1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5.25l3.75 3.75v-3.75h2a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Z" fill="#B3B3B3"/><path d="M12-.001H1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5.25l3.75 3.75v-3.75h2a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Z" fill="#73B4D5"/></g><defs><filter id="a" x="0" y="-.001" width="13" height="13.75" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="1"/><feColorMatrix values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.9 0"/><feBlend in2="BackgroundImageFix" result="effect1_dropShadow_9068_27"/><feBlend in="SourceGraphic" in2="effect1_dropShadow_9068_27" result="shape"/><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="-1"/><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/><feBlend in2="shape" result="effect2_innerShadow_9068_27"/></filter></defs></svg>

mixin social-reactions()
  .social-reactions
    a.social-reactions__item(href="#")
      +like
      span 131
    a.social-reactions__item(href="#")
      +comment
      span 14

mixin chat-item()
  .chat-items__item
    .chat-items__item-title
      h3 !{name}
      .date !{date}
    .chat-items__item-message !{text}
