.user-statistics
  .user-statistics__item.user-statistics__item--title
    .user-statistics__item-col Services
  .user-statistics__item(style="--width: 93%; --color: #B1E19B;")
    .user-statistics__item-col
      span Manual tour booking
    .user-statistics__item-col 11
  .user-statistics__item(style="--width: 26%; --color: #ACE2F8;")
    .user-statistics__item-col
      span Package tours
    .user-statistics__item-col 3
  .user-statistics__item(style="--width: 16%; --color: #ACE2F8;")
    .user-statistics__item-col
      span Hotels
    .user-statistics__item-col 1
  .user-statistics__item.user-statistics__item--result
    .user-statistics__item-col Total
    .user-statistics__item-col 15
